
.products{
  display: flex;
  flex-wrap: wrap;
}

.products > div{
  margin-top: 1rem;
}

.pagination{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.container{
  flex: 8;
  height: auto;
  padding-left: 1rem;
}